<div>
    <h1>Anteproyectos</h1>
  </div>
  
  <div class="card" style="width: 18rem;">
      <div class="card-header">
        <div class="card text-bg-primary mb-3" *ngFor="let item of registro" style="max-width: 18rem;">
          <div class="card-header" >{{item.titulo}}</div>
          <h5>Descripcion</h5>
          <div class="card text-bg-primary" *ngFor="let item of registro" style="max-width: 18rem;">
            <div class="card-header" >{{item.descripcion}}

            </div>
</div>
</div>
</div>
</div>
<div>
          <div >
            <button type="button"(click)="volver()" class="btn btn-primary" >Salir</button>
          </div>
</div>